* {
    /* border: 1px solid red; */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E7EB;
    margin: 0px;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
}

.nav-links {
    font-family: 'Bebas Neue', sans-serif;
    list-style: none;
    padding: 0;
    letter-spacing: 1px;
}

img {
    max-width: 500px;
    border-radius: 10px;
}

.above-the-fold {
    color: #F9FAF8;
    background-color: #1F2937;
    margin: 0px;
    padding: 1rem 16rem 4rem 16rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
    color: #E5E7EB;
}

.atf-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-and-button {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 0px;
}

.information {
    background-color: #E5E7EB;
    padding: 1rem 16rem 1rem 16rem;
}

button {
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
}