* {
    /* border: 1px solid red; */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #E5E7EB;
    margin: 0px;
}

.above-the-fold {
    color: #F9FAF8;
    background-color: #1F2937;
    margin: 0px;
    padding: 1rem 16rem 4rem 16rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
}

.nav-links {
    font-family: 'Bebas Neue', sans-serif;
    list-style: none;
    letter-spacing: 1px;
    display: flex;
    gap: 1rem;
}

.atf-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 0px;
}

button {
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
}

img {
    max-width: 500px;
    border-radius: 10px;
}

.information {
    padding: 1rem 16rem 4rem 16rem;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

.information-columns {
    display: flex;
    justify-content: space-between;
}

.individual-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-images {
    height: 200px;
    width: 200px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.quote {
    background-color: #d9dadd;
    padding: 6rem 22rem 6rem 22rem;
    display: flex;
    flex-direction: column;
}

.actual-quote {
    font-style: italic;
    font-weight: 200;
    font-size: 1.3rem;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}